.header-parent {
    background-color: #000000;
    min-height: 100vh;
    position: fixed;
}

.profile {
    text-align: center;

    img {
        width: 100px;
    }
}

.name {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

hr {
    color: #FFFFFF;
    height: 3px;
}

.Info-Container {
    padding-top: 10px;
}

table {
    width: 100%;
    margin: 0px 5px;
    border-collapse: separate;
    border-spacing: 0 0.75rem;

    tr>td:nth-child(1) {
        width: 13%;
    }
}

.info-font {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;

    a {
        text-decoration: none;
        color: #FFFFFF;
    }
}

.contact {
    width: min-content;
    padding-top: .025rem;
    text-align: left;
    border-bottom: 1px solid #FFFFFF;
}
