<div class="header-parent">
    <div class="profile">
        <img src="assets\profileImage.jpg" class="mt-2 img-thumbnail" alt="Profile">
    </div>
    <div class="name mt-2">GOWTHAM M</div>
    <div class="divider py-1 bg-white"></div>
    <div class="Info-Container">
        <div class="name contact mt-2">Contact&nbsp;:</div>
        <table>
            <tr>
                <td>
                    <fa-icon [icon]="phone"></fa-icon>
                </td>
                <td class="info-font"><a href="tel:+918667617235">8667617235</a></td>
            </tr>
            <tr>
                <td>
                    <fa-icon [icon]="email"></fa-icon>
                </td>
                <td class="info-font"><a href="mailto:nvggowtham@gmail.com">nvggowtham@gmail.com</a></td>
            </tr>
            <tr>
                <td style="vertical-align:top;">
                    <fa-icon [icon]="location"></fa-icon>
                </td>
                <td class="info-font"><a>Coimbatore,<br />Tamilnadu-641032</a></td>
            </tr>
        </table>


        <div class="name contact mt-2">Personal&nbsp;:</div>
        <table>
            <tr>
                <td>
                    <fa-icon [icon]="birthday"></fa-icon>
                </td>
                <td class="info-font">16-09-1998</td>
            </tr>
            <tr>
                <td>
                    <fa-icon [icon]="marriageStatus"></fa-icon>
                </td>
                <td class="info-font">Single</td>
            </tr>
            <tr>
                <td>
                    <fa-icon [icon]="nationality"></fa-icon>
                </td>
                <td class="info-font">Indian</td>
            </tr>
            <tr>
                <td>
                    <fa-icon [icon]="language"></fa-icon>
                </td>
                <td class="info-font">Tamil, English</td>
            </tr>
        </table>

        <div class="name contact mt-2">Connect&nbsp;:</div>
        <table>
            <tr>
                <td>
                    <fa-icon [icon]="link"></fa-icon>
                </td>
                <td class="info-font"><a target="_blank" href="https://www.linkedin.com/in/gowtham-m-b15222149">Linkedin</a></td>
            </tr>
        </table>
    </div>
</div>

