/* You can add global styles to this file, and also import other style files */
.fa-phone-alt,.fa-envelope-open,.fa-map-marker,.fa-globe,.fa-calendar-alt,.fa-ring,
.fa-user,.fa-flag,.fa-language,.fa-dot-circle,.fa-link{
    color: #FFFFFF;
    font-size: 14px;
}

html{
    overflow-x: hidden;
}

